<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
    <title>管理员</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/diy-style.css" th:href="@{/css/diy-style.css}">
    <style>
        .row_h {
            margin-top: 20px;
        }
    </style>
</head>

<body>

<div th:replace="commons/bar :: topbar"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="commons/bar :: sidebar(activeUrl='teacherManage')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">教师信息编辑</h1>

            <form action="admin/updateTeacher" th:action="@{/admin/updateTeacher}" method="post">
                <input name="id" type="hidden" th:value="${teacher.id}" class="form-control">

                <div class="row row_h">
                    <div class="col-lg-3">
                        <label>账号</label>
                        <input name="userAccount" th:value="${teacher.userAccount}" type="text" class="form-control"
                               placeholder="账号">
                    </div>
                </div>
                <div class="row row_h">
                    <div class="col-lg-3">
                        <label>密码</label>
                        <input name="password" th:value="${teacher.password}" type="password" class="form-control"
                               placeholder="密码">
                    </div>
                </div>
                <div class="row row_h">
                    <div class="col-lg-3">
                        <label>姓名</label>
                        <input name="name" th:value="${teacher.name}" type="text" class="form-control" placeholder="姓名">
                    </div>
                </div>
                <div class="row row_h">
                    <div class="col-lg-3">
                        <label>创建时间</label>
                        <input name="createTime" th:value="${teacher.createTime}" type="date" class="form-control" placeholder="创建时间">
                    </div>
                </div>
                <div class="row row_h">
                    <div class="col-lg-2">
                        <label>审核</label>
                        <select name="audit" class="form-control">
                            <option name="audit" th:selected="${teacher.audit == true ? 'selected': _}" value="true">通过</option>
                            <option name="audit" th:selected="${teacher.audit == false ? 'selected': _}" value="false">不通过</option>
                        </select>
                    </div>
                </div>
                <div class="row row_h">
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-success">提交</button>
                        <button type="button" class="btn btn-info">返回</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"><\/script>')</script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.min.js" th:src="@{/js/holder.min.js}"></script>


</body>
</html>

